  h1, p, h2, h3 {
    color: white !important;
    text-align: center;
  }
  
  p {
    font-size: 1rem !important;
  }
  
  h3 {
    font-size: 25px;
  }
  
  .a {
    font-size: 0.5px !important;
  }

  .btn,
  input[type="submit"] {
    border: 0 !important;
    border-radius: 5px !important;
    box-sizing: border-box !important;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 16px !important;
    height: 38px !important;
    line-height: 38px !important;
    margin: 0.5em !important;
    padding: 0 30px !important;
    text-decoration: none !important;
    white-space: nowrap !important;
  }
  
  .center-object {
    display: block !important;
  }

  .me {
    height: inherit !important;
  }

  .avatar{
    border-radius: 50% !important;
    text-align: center !important;
    padding: 20px;
    width: 250px;
  }
  
  .me {
    padding: 0 !important;
    height: auto;
    width: auto;
  }

  .background {
    max-width: auto !important;
    filter: blur(5px) brightness(50%) !important;
  }

  .stats {
    max-width:100%;
    padding: 1rem;
  }

  .DalekPinpoint {
    font-family: 'Dalek Pinpoint', sans-serif !important;
  }

  .Battenberg {
    font-family: 'Battenberg and Custard', sans-serif !important;
    font-size: 1.5rem !important;
  }

  .roadragebg {
    font-family: 'Road Rage', sans-serif !important;
    filter: drop-shadow(6px 6px 0 rgba(0, 0, 0, 0.4));
  }

  .roadrage {
    font-family: 'Road Rage', sans-serif !important;
  }

  .avatar{
    border-radius: 50% !important;
    padding: 0px;
    width: 312px;
  }

  .TRP {
    display: inline-grid;
  }

  .Sanctuary {
    display: inline-grid;
  }

  .SanctuaryImg {
    border-radius: 50% !important;
    padding: 0px;
    width: 312px;
  }

  .doIortext {
    font-family: 'George IV', sans-serif;
  }

  .doIorinfo {
    font-family: 'George IV', sans-serif;
    font-size: 1.5rem !important;
  }

  .doIorheadder {
    font-family: 'Wide Latin', sans-serif;
  }

  .payhip {
    background-color: #101C7C !important;
  }

